@import '../../../variables.scss';

.header{
    background:url('../../../media/img/mainbg.jpg') center (center/cover) no-repeat;
    min-height: 1000px;
    padding: 120px 50px;
    color: #fefefe;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: 800px;
    justify-content: space-around;
    align-items:center;
    &__form{
        height: 100%;
        text-align: center;
        color: #fff;
        border:1px solid $mainyellow;
        border-radius:50px;
        background-color:rgba(33, 33, 33, 0.475) ;
        padding: 10px 0;

    }
    form{
        padding: 50px 0;
        font-size: 20px;
        textarea{
            text-align: left;
            width: 350px;
            height: 200px;
            font-size: 17px;
            resize: none;
            padding: 10px;
            border:1px solid $mainyellow;
            margin-top: 10px;
            border-radius:5px;
        }
        input{
            margin-top: 5px;
            width: 350px;
            padding: 10px;
            font-size: 17px;
            border:1px solid $mainyellow;
            border-radius:10px;

        }
        button{
            display: block;
            margin: 0 auto;
            background-color:$mainyellow;
        }
    }

    &__about{
        max-width: 500px;
        text-align: center;
        border: 1px solid $mainyellow;
        border-radius: 50px;
        
    }
    &__wrapper{
        border-radius: 50px;
        background-color:rgba(9, 9, 9, 0.475) ;
        padding: 40px;

    }
    &__title{
        margin-bottom: 30px;
    }
    &__descr{
        font-size: 25px;
        margin-bottom: 30px;
    }
    &__tasks{
        text-align: left;
        line-height: 25px;
        margin-bottom: 30px;
    }
    &__task{
        max-width:300px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
    }
    &__btn{
        img{
            max-width: 30px;
            margin-right: 10px;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 60px;
        border-radius: 50px;
        background-color: $mainyellow;
        border: none;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 20px;
        &:hover{
            background-color: $mainyellow;
            color: #fff;
        }
    }

    &__works{
        display: flex;
        align-items:center;
        justify-content: space-around;
        width: 200px;
        margin: 0 auto;
    }
    &__work{
        width: 40px;
        img{
            background-color: $mainyellow;
            padding: 1px;
            border-radius: 100%;
            width: 100%;
        }
        p{
            font-size: 17px;
            padding-left: 20px;
        }
    }
    
}
